/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(95, 101, 122); 
    transition: background-color 0.6s;
}

div.header-content > h1#title {
    font-size: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(87, 85, 101); 
}