@import "ipad.css" screen and (max-width: 1400px);
@import "tablet.css" screen and (max-width: 1035px);
@import "font_styles.css";

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(95, 101, 122); 
    transition: background-color 0.6s;
}

div.header-content > h1#title {
    font-size: 40px;
    transition: font-size 0.1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(87, 85, 101); 
}

:root {
    --primary: #292930;
    --secondary: #4b4b4b;
    --tertiary: #3f4149;
    --navbar_link_color: #c7c7cb;
    --navbar_background_color: #323238;
    --default_font_color: #f8f9ff;
    --card-color: #3a3a46;

    --btn_sky_blue: #298fe2;
    --btn_blue: #002aff;
    --btn_violet: #6c17ff;

    /*Web Safe Fonts */
    --default_fonts: Arial, Helvetica, sans-serif;

    /*Z-Index Constants (Layers)*/
    --navbar-z-index: 10;
}

button:focus {
    outline: none;
}

.blue-gradient-btn {
    background: linear-gradient(to top right, var(--btn_blue), var(--btn_sky_blue));
    padding: 20px;
    font-size: 16px;
    color: var(--default_font_color);
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

*  {
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-bottom: 300px;
}

body {
    margin: 0;
    background-color: var(--primary, #292929);
    color: var(--default_font_color, #f8f9ff);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

div {
  overflow: hidden;
}

div.scrollable {
    overflow: auto!important;
}

div.navbar {
  width: 100%;
  padding: 14px 15px;
  
  margin: 0;
  position: fixed;

  background: var(--navbar_background_color);
  
  z-index: var(--navbar-z-index);

  transition: top 0.3s, opacity 0.1s;
}

div.navbar.show {
    top: 0px;
}

section#about_us {
    margin-left: 20px;
    padding: 10px;
    margin: 0 auto;
}

section#about_us > article {
    padding: 10px;
}

div.navbar_content_container {
    display: inline-block;
    padding: 10px;
}

.invisible {
    display: none;
}

div.navbar_content_container > a.navbar-link {
    margin-left: 10px;
    color: var(--navbar_link_color, #c7c7cb);
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
    border-radius: 12.5px;
    transition: border-radius 1s, color 0.3s, background-color 0.4s;
    padding: 10px;
}

div.navbar_content_container > a.navbar-link:hover {
    background-color: #298fe255;
    border-radius: 12.5px;
    color: #00abff;
    padding: 10px;
}

div.img_overlay {
    background: rgba(0, 0, 0, 0.5);
}

div.header {   
    margin: 0 auto;

    --overlay-color: rgba(20, 20, 20, 0.5);
    --overlay: linear-gradient(var(--overlay-color), var(--overlay-color));

    padding: 110px;
    background: var(--overlay), no-repeat center/cover url("assets/intro.png");
    background-attachment: fixed;
}

div.header-content {
    float: left;
    margin-top: 80px;
}

div.header-content > h2#tagline {
    font-size: 30px;
}

img.header_logo {
    width: 400px;
    float: right;
    height: auto;
}

.fade-up {
    transform: translateY(-200px);
    opacity: 0;
}

.loaded {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.7s, opacity 1s;
}

img.brand.logo {
    width: 40px;
    height: 51px;
    margin-top: -6px;
    transform: translateY(-5px);
}

span.brand.name {
    font-weight: 700;
    font-size: 25px;
    display: inline-flex;
}

#wave-1 {
    transform: translateY(-200px);
    width: 100%;
    height: auto;
    margin-bottom: -250px;
}

#wave-1 > svg {
    margin-bottom: -100px;
}

#vmg-title {
    color: var(--default_font_color);
    font-size: 30px;
    transform: translateY(-45px);
    text-align: center;
}

#history-title {
    text-align: center;
}

#vmg_card_container {
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
}

#vmg_card_container > div {
    margin: 10px;
}

#vmg_card_container > div > .col-title {
    text-align: center;
}

.col-3 {
    width: 33.333%;
    max-width: 30%;
    float: left;
    padding: 16px;
}

.card {
    background-color: var(--card-color);
    padding: 20px;
    box-shadow: black;
    border-radius: 12.5px;
}

#history_video {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 20px solid var(--card-color);

    width: 700px;
    height: auto;
}

.col-3 > .card > .col-title {
    text-align: center;
}

#about_us > article > .col-3 {
    transform: translateY(-50px);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;      
  }

a#map_link {
    color: rgb(218, 218, 218);
}

p#address {
    font-size: 20px;
    font-weight: 500;
}

h2#history-title {
    font-size: 30px;
}

p#history-content {
    max-width: 95%;
    font-size: 17px;
}

span.bold {
    font-weight: 600;
}

.history-card {
    width: 45%;
    height: auto;
    float: left;
}

div#footer {
    margin-top: 100px;
    padding: 50px;
    background-color: #191920;
    border-top: 10px solid rgb(37, 37, 48);
}

div#footer > h1#footer-title {
    color: var(--default_font_color);
    font-size: 20px;
}

#history_picture {
    border: 5px solid var(--card-color);
    border-radius: 25px;
    width: 550px;
    height: auto;
}

.video-wrapper{
    display: table;
    width: auto;
    position: relative;
    width:50%;
}

.playpause {
    background-image: url("assets/play-button.png");
    background-repeat: no-repeat;
    width: 25%;
    height: 25%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

ul.links {
    list-style-type: none;
}