/*Handles web responsiveness*/

@import "viewports/laptop.css" screen and (max-width: 1440px);
@import "viewports/Tablet_L.css" screen and (max-width: 1200px);
@import "viewports/Tablet_M.css" screen and (max-width: 768px);
@import "viewports/Tablet_S.css" screen and (max-width: 600px);

:root {
    /*Color Pallete*/
    --primary: #292930;
    --secondary: #4b4b4b;
    --tertiary: #3f4149;

    --navbar_link_color: #c7c7cb;
    --navbar_background_color: #323238;
    --card-color: #3a3a46;
    
    --default_font_color: #f8f9ff;

    --btn_sky_blue: #298fe2;
    --btn_blue: #002aff;
    --btn_violet: #6c17ff;

    --overlay-color: rgba(20, 20, 20, 0.5);
    --overlay: linear-gradient(var(--overlay-color), var(--overlay-color));

    /*Web Safe Fonts */
    --default_fonts: Arial, Helvetica, sans-serif;

    /*Z-Index Constants (Layers)*/
    --navbar-z-index: 10;
    --header-z-index: -1;
}

/*|| Keyframes*/
@keyframes hideNavbarLink {
    
}

/*|| General (Overload user-agent stylesheet properties)*/

*, *:after, *:before  {
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

:target {
    scroll-margin-bottom: 300px;
}

body {
    margin: 0;
    background-color: var(--primary, #292929);
    color: var(--default_font_color, #f8f9ff);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

div {
  overflow: hidden;
}

div.scrollable {
    overflow: auto!important;
}

.invisible {
    display: none;
}

*:focus {
    outline: none;
}

/*|| Main Navigation*/

div.navbar {
    width: 100%;
    padding: 10px 15px;

    margin: 0;
    position: fixed;

    background: var(--navbar_background_color);

    z-index: var(--navbar-z-index);

    box-shadow: 0px 5px 10px #191919;
    transition: top 0.3s, opacity 0.1s;
}

div.navbar_content_container > a.navbar-link {
    margin-left: 10px;
    color: var(--navbar_link_color, #c7c7cb);
    display: inline-flex;
    text-decoration: none;
    font-weight: 500;
    border-radius: 12.5px;
    transition: border-radius 1s, color 0.3s, background-color 0.4s;
    padding: 10px;
}

div.navbar_content_container {
    display: inline-block;
    padding: 10px;
    width: 90%;
}

div.navbar_content_container > a.navbar-link:hover {
    background-color: #298fe255;
    border-radius: 12.5px;
    color: #00abff;
    padding: 10px;
}

img.brand.logo {
    width: 40px;
    height: 51px;
    margin-top: -6px;
    transform: translateY(-5px);
}

span.brand.name {
    font-weight: 700;
    font-size: 25px;
    display: inline-flex;
}
  
a#navbar_link_dropdown {
    border: 1px solid #6c6c7e; 
    border-radius: 12.5px;
    float: right;
    margin-left: 120px;

    padding: 5px 20px 10px 20px;

    text-decoration: none;

    font-weight: 600;
    font-size: 20px;

    color: white;
    background-color: #2f2f36;
    
    display: none;
}

a#navbar_link_dropdown:hover {
    background-color: #22222b;
}

/*|| Header and Sections*/

div.header {   
    margin: 0 auto;

    padding: 110px;
    background: var(--overlay), no-repeat center/cover url("assets/intro.png");
    background-attachment: fixed;

    z-index: var(--header-z-index);
}

div.header-content {
    float: left;
    margin-top: 80px;
}

div.header-content > h2#tagline {
    font-size: 30px;
}

img.header_logo {
    width: 400px;
    float: right;
    height: auto;
}

#clubs-title {
    font-size: 35px;
}

section#clubs {
    margin: 0 auto;

    padding: 60px;
    height: auto;

    background: var(--overlay), no-repeat center/cover url("assets/events.png");
    background-attachment: fixed;
    overflow: hidden;
}

section#about_us {
    margin-left: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 60px;
}

section#about_us > article {
    padding: 10px;
}

/*|| Transistions*/

.fade-up {
    transform: translateY(-200px);
    opacity: 0;
}

.slide {
    transform: translateX(-400px);
    opacity: 0;
}

.fade-in {
    opacity: 0;
}

.loaded-fade-up {
    opacity: 1;
    transform: translate(0px, 0px);
}

.loaded-slide {
    transform: translate(0px, 0px);
    opacity: 1;
}

.loaded-fade-in {
    opacity: 1;
}

[class*="loaded-"] {
    --loading-transition-delay: 0.8s;

    transition: transform var(--loading-transition-delay), 
                opacity var(--loading-transition-delay);
}

ul#links > li {
    width: 100%;
    padding: 20px;
}

/*|| Footer*/

div#footer {
    padding: 70px;
    border-top: 10px solid #1a3453;
    padding-top: 20px;
    padding-bottom: 90px;
    background-color: #315c8f;
}

div#footer > h1#footer-title {
    color: var(--default_font_color);
    font-size: 20px;
}

.copyright {
    padding: 10px;
    text-align: center;
    background-color: #25456d;
}

/*|| Interactive UI and Images*/

.blue-btn {
    padding: 10px;
    background-color: var(--btn_sky_blue);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.hyperlink {
    color: var(--navbar_link_color);
}

button:focus {
    outline: none;
}

.blue-gradient-btn {
    background: linear-gradient(to top right, var(--btn_blue), var(--btn_sky_blue));
    padding: 20px;
    font-size: 16px;
    color: var(--default_font_color);
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

#history_video {
    display: block;
    border-radius: 10px;
    border: 20px solid var(--card-color);

    height: auto;
}

img, video {
    max-width: 100%;
    height: auto;
}

#history_picture {
    border: 5px solid var(--card-color);
    border-radius: 25px;
    width: 550px;
    height: auto;
}

.video-wrapper {
    display: table;
    width: auto;
    position: relative;
}

/*|| Grid*/
.clubs-card {
    display: grid;
    grid-template-columns: auto auto auto;
}

.clubs-card > div {
    margin-right: 20px;
    margin-bottom: 20px;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

ul#links {
    list-style-type: none;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
}

#vmg_card_container {
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
}

#vmg_card_container > div {
    margin: 10px;
}

#vmg_card_container > div > .col-title {
    text-align: center;
}

.col-3 {
    width: 33.333%;
    max-width: 30%;
    float: left;
    padding: 16px;
}

.col-3 > .card > .col-title {
    text-align: center;
}

#about_us > article > .col-3 {
    transform: translateY(-50px);
}

/*|| Graphics*/
.card {
    background-color: var(--card-color);
    padding: 20px;
    box-shadow: black;
    border-radius: 12.5px;
    box-shadow: 0px 5px 10px #191919;
}

#wave-1 {
    transform: translateY(-200px);
    width: 100%;
    height: auto;
    margin-bottom: -250px;
}

#wave-1 > svg {
    margin-bottom: -100px;
}

.history-card {
    width: 45%;
    height: auto;
    float: left;
}

.border-right-6 {
    border-right: 2px solid #050b11;
}
